@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #005CFF;
  --color-warning: #e3b73e;
  --color-success: #2EC055;
  --color-danger: #E33E3E;
}

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Display", sans-serif;
    font-weight: 500;
  }

  body {
    user-select: none;
  }
  
  img, a {
    -webkit-user-drag: none;
  }

  html{
    background-color: #EBEBEB;
  }
  
  p{
    font-family: "SF Pro Text", "SF Pro Display", sans-serif;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: "SF Pro Display", sans-serif;
  }
  h1{
    @apply text-4xl;
  }
  h2{
    @apply text-3xl;
  }
  h3{
    @apply text-2xl;
  }
  h4{
    @apply text-xl;
  }
}
